@model IList<ClientModel>

<a href="@Url.Action("Index", "Account")">
Account Button
</a>


<h2>Clients</h2>


@foreach(var client in Model){
<a href="@Url.Action("Client", "Client")">
    <img src="@Url.Content(client.ImageUrl)" style="max-height:450px; max-width:450px; overflow: hidden"/>
    <h3>@client.Forename @client.Surname</h3>
    <br/>
    <p>@client.Location</p>
</a>
}