<div class="page">
    @model IList<ClientModel>

<div class="heading">
    <h1>Clients</h1>
<a href="@Url.Action("Index", "Account")"><img src="../images/account_imgs/account_img_nurse.png"
></a>
</div>

<div class="client-list content-margin">
@foreach(var client in Model){
<a href="@Url.Action("Client", "Client", new {id= client.Id})">
        
           <img src="@Url.Content(client.ImageUrl)"/>

        <div>
    <p>@client.Forename @client.Surname</p>

    <p>@client.Location</p>
            </div>
</a>
}
</div>
    </div>
