<div class="page">
    <div class="heading">


<h1>KenoAssist</h1>

        <a href="@Url.Action("Index", "Account")"><img src="../images/account_imgs/account_img_nurse.png"
>
</a>
    
</div>

<div class="content-margin keno_client">

     <img src="../images/account_imgs/male_1.png"/>
        <br/>
     <h2>John Ellison</h2>
    </div>

    <div class="menu_options">
<a class="margin-bottom-4 margin-right-4" href="@Url.Action("Index", "FoodAndDrink")">

             <div>
            <img class="menu-icons" src="../images/app_icons/food_water.svg">
<p>Food & Beverages</p>
                </div>
</a>
<br/>

<a class="margin-bottom-4" href="@Url.Action("Index", "Account")">

             <div>
            <img class="menu-icons" src="../images/app_icons/medication.svg">
<p>Medication</p>
                </div>
</a>

<br/>
<a class="margin-bottom-4 margin-left-4" href="@Url.Action("Incidents", "Incident")">

                         <div>
            <img class="menu-icons" src="../images/app_icons/incidents.svg">
<p>Incidents & Injuries</p>
                </div> 
</a>

<br/>
<a class="margin-right-4" href="@Url.Action("Index", "Account")">

           <div>
            <img class="menu-icons" src="../images/app_icons/hygiene.svg">
<p>Personal Hygiene</p>
    </div>
</a>

<br/>
<a href="@Url.Action("Index", "Account")">
           <div>
            <img class="menu-icons" src="../images/app_icons/messages.svg">
<p>Messages</p>
    </div>
</a>

<br/>

<a class="margin-left-4" href="@Url.Action("Index", "Account")">
           <div>
            <img class="menu-icons" src="../images/app_icons/contacts.svg">
<p>Contacts</p>
    </div>
</a>

<br/>

<a class="margin-top-4 margin-right-4" href="@Url.Action("Index", "Account")">
           <div>
            <img class="menu-icons" src="../images/app_icons/sleep.svg">
<p>Sleep</p>
    </div>
</a>

<br/>

<a class="margin-top-4" href="@Url.Action("Index", "Account")">
           <div>
            <img class="menu-icons" src="../images/app_icons/client_record.svg">
<p>Client Record</p>
    </div>
</a>

<br/>

<a class="margin-top-4 margin-left-4" href="@Url.Action("Index", "Account")">
           <div>
            <img class="menu-icons" src="../images/app_icons/camera.svg">
<p>Camera</p>
    </div>
</a>
        </div>

    </div>