<div class="page">
    <div class="heading">


<h1>KenoAssist</h1>

        <a href="@Url.Action("Index", "Account")"><img src="../images/account_imgs/account_img_nurse.png"
>
</a>
    
</div>

<div class="content-margin keno_client">

     <img src="../images/account_imgs/male_1.png"/>
        <br/>
     <h2>John Ellison</h2>
    </div>

    <div class="menu_options">
<a class="margin-bottom-4 margin-right-4" href="@Url.Action("Index", "FoodAndDrink")">
Food & Water
</a>
<br/>

<a class="margin-bottom-4" href="@Url.Action("Index", "Account")">
Medication
</a>

<br/>
<a class="margin-bottom-4 margin-left-4" href="@Url.Action("Incidents", "Incident")">
Incidents & Injuries 
</a>

<br/>
<a class="margin-right-4" href="@Url.Action("Index", "Account")">
Personal Hygiene
</a>

<br/>
<a href="@Url.Action("Index", "Account")">
Messages
</a>

<br/>

<a class="margin-left-4" href="@Url.Action("Index", "Account")">
Contacts
</a>

<br/>

<a class="margin-top-4 margin-right-4" href="@Url.Action("Index", "Account")">
Sleep
</a>

<br/>

<a class="margin-top-4" href="@Url.Action("Index", "Account")">
Client Record
</a>

<br/>

<a class="margin-top-4 margin-left-4" href="@Url.Action("Index", "Account")">
Camera
</a>
        </div>

    </div>