<div class="page">
    <div class="heading">

    @if(ViewBag.IsStaff)
        {
         <div class="vertical_align">
            <a href="@Url.Action("Clients", "Staff")">                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g>
                    </svg>

            <span>Back</span>
            </a>
        </div>
<h1 class="minus-margin-60">KenoAssist</h1>
        }
        else
        {
        <h1>KenoAssist</h1>
        }


        <a href="@Url.Action("Index", "Account")">
        @if(ViewBag.IsStaff){
            <img src="~/images/account_imgs/account_img_nurse.png">

            }
            else
            {
            <img src="~/images/account_imgs/small_family_account_img.png">
            }
</a>
    
</div>

<div class="content-margin keno_client">

     <img src="@Url.Content(ViewBag.Photo)"/>
        <br/>
     <h2>@ViewBag.Name</h2>
    </div>

    <div class="menu_options">
<a class="margin-bottom-4 margin-right-4" href="@Url.Action("Index", "FoodAndDrink")">

             <div>
            <img class="menu-icons" src="~/images/app_icons/food_water.svg">
<p>Food & Beverages</p>
                </div>
</a>
<br/>

<a class="margin-bottom-4" href="@Url.Action("Client", "Client")">

             <div>
            <img class="menu-icons" src="~/images/app_icons/medication.svg">
<p>Medication</p>
                </div>
</a>

<br/>
<a class="margin-bottom-4 margin-left-4" href="@Url.Action("Incidents", "Incident")">

                         <div>
            <img class="menu-icons" src="~/images/app_icons/incidents.svg">
<p>Incidents & Injuries</p>
                </div> 
</a>

<br/>
<a class="margin-right-4" href="@Url.Action("Client", "Client")">

           <div>
            <img class="menu-icons" src="~/images/app_icons/hygiene.svg">
<p>Personal Hygiene</p>
    </div>
</a>

<br/>
<a href="@Url.Action("Client", "Client")">
           <div>
            <img class="menu-icons" src="~/images/app_icons/messages.svg">
<p>Messages</p>
    </div>
</a>

<br/>

<a class="margin-left-4" href="@Url.Action("Client", "Client")">
           <div>
            <img class="menu-icons" src="~/images/app_icons/contacts.svg">
<p>Contacts</p>
    </div>
</a>

<br/>

<a class="margin-top-4 margin-right-4" href="@Url.Action("Client", "Client")">
           <div>
            <img class="menu-icons" src="~/images/app_icons/sleep.svg">
<p>Sleep</p>
    </div>
</a>

<br/>

<a class="margin-top-4" href="@Url.Action("Client", "Client")">
           <div>
            <img class="menu-icons" src="~/images/app_icons/client_record.svg">
<p>Client Record</p>
    </div>
</a>

<br/>

<a class="margin-top-4 margin-left-4" href="@Url.Action("Client", "Client")">
           <div>
            <img class="menu-icons" src="~/images/app_icons/camera.svg">
<p>Camera</p>
    </div>
</a>
        </div>

    </div>