<a href="@Url.Action("Index", "Account")">
Account Button
</a>

<h2>John Ellison</h2>

<a href="@Url.Action("Index", "FoodAndDrink")">
Food & Water
</a>
<br/>

<a href="@Url.Action("Index", "Account")">
Medication
</a>

<br/>
<a href="@Url.Action("Index", "Account")">
Incidents & Injuries 
</a>

<br/>
<a href="@Url.Action("Index", "Account")">
Personal Hygiene
</a>

<br/>
<a href="@Url.Action("Index", "Account")">
Messages
</a>

<br/>

<a href="@Url.Action("Index", "Account")">
Contacts
</a>

<br/>

<a href="@Url.Action("Index", "Account")">
Sleep
</a>

<br/>

<a href="@Url.Action("Index", "Account")">
Client Record
</a>

<br/>

<a href="@Url.Action("Index", "Account")">
Camera
</a>