@model IList<NotificationModel>

<div class="page">
 <div class="heading">

          <div class="vertical_align">

        <a href="javascript:void(0);" onclick="history.go(-1);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g>
                    </svg>

            <span>back</span>
            </a>

            </div>

<h1 class="minus-margin-60">Staff Account</h1>
</div>
 <div class="content-margin background_container">
     <img src="~/images/account_imgs/large_nurse_account_img.png">
     <br />
     <h2>Emma Willis</h2>
     <br />
     <p>Nurse</p>

     <div class="margin-top-4 default-menu">
         @foreach (var notification in Model)
        {
         <!-- Incident notification-->
        if (notification.NotificationTypeId == 1)
        {
         <a href="@Url.Action("RedirectToIncident", "Account")">

             <p class="highlight-text">Incidents & Injuries</p>
             <p>@Common.GetTimeString(notification.Date)</p>
             <p>@notification.Description</p>

         </a>
    }

 <!-- Message notification-->
if (notification.NotificationTypeId == 2)
{
 <a>

     <p class="highlight-text">Message from Sophie Louise</p>
     <p>@Common.GetTimeString(notification.Date)</p>
     <p>@notification.Description</p>
 </a>
}
}
     </div>

     </div>
     <a href="@Url.Action("Index", "Login")" class="button-bottom">Sign Out</a>
 </div>