
@model IncidentReportModel

<div class="page">
    <div class="heading">
      <div class="vertical_align">

        <a href="javascript:void(0);" onclick="history.go(-1);">                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g></svg>

            <span>Back</span></a>
        </div>
        
<h1 class="minus-margin-60">Add Incident</h1>
</div>

     <div class="content-margin-40">


@using (Html.BeginForm("AddInjury", "Incident", FormMethod.Post,  new { enctype = "multipart/form-data"})){

 @Html.HiddenFor(m => m.IncidentId)
 @Html.HiddenFor(m => m.StaffNames)
 @Html.HiddenFor(m => m.Date)
 @Html.HiddenFor(m => m.Time)

 if(Model.PhotoUrl != null){
 for(int i = 0; i < Model.PhotoUrl.Count; i++)
{
    @Html.HiddenFor(model => Model.PhotoUrl[i])
}
}
        

<label>Injury</label>
  @Html.ValidationMessageFor(model => model.Injury)    
  @Html.TextBoxFor(m => m.Injury, new { placeholder = "e.g. Bruising", @class = "" });

  <label>Area Injured</label>
  @Html.ValidationMessageFor(model => model.InjuryArea) 
  @Html.TextBoxFor(m => m.InjuryArea, new { placeholder = "e.g. Left Lower Leg", @class = "" });


  <label>Image Evidence</label>
        <p class="checkbox_text">Add photographic evidence</p>
                      <div class="checkbox_slider float-right">

         @if(ViewBag.PhotoSelected){
             <input type="checkbox" onclick="toggleImages()" id="checkboxThreeInput" class="display_none" checked="checked" />
         }
         else{
             <input type="checkbox" onclick="toggleImages()" id="checkboxThreeInput" class="display_none" />
         }
        
        <label for="checkboxThreeInput">
        </label></div>

  <div id="imageDiv" style ="@(ViewBag.PhotoSelected ?"display:block" :"display:none")">



<input type="file" name="file-1[] files" id="file-1" class="inputfile inputfile-1"data-multiple-caption="{count} files selected" multiple />
                    <label for="file-1" class="file-uploader">

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<path class="st27" d="M19.2,6.7h-2.7L16,5.5c-0.1-0.3-0.4-0.4-0.7-0.4H8.6C8.3,5.1,8.1,5.3,8,5.5L7.4,6.7H6.8V6.5
    c0-0.4-0.3-0.7-0.7-0.7H5.7C5.3,5.8,5,6.1,5,6.5v0.2H4.8C4.3,6.7,4,7.1,4,7.5v10.7c0,0.4,0.3,0.8,0.8,0.8h14.5
    c0.4,0,0.8-0.3,0.8-0.8V7.5C20,7.1,19.7,6.7,19.2,6.7z M12,16.4c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6
    C15.6,14.8,14,16.4,12,16.4z"/>
</svg>          <span>Select Photo&hellip;</span>
                </div>
        </label>

         
   @if(Model.PhotoUrl != null){
  foreach(var image in Model.PhotoUrl){
  <div class="column">
    <img src="@Url.Content(image)"  class="hover-shadow cursor">
  </div>
}       
}
        
 <button id="imageUpload" type="submit" name="submitButton" value="Upload" class="fullwidth-ghost-btn upload-btn" disabled="disabled">
            <label>
                <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <polyline class="st28" points="5,15.6 5,18.9 19,18.9 19,15.6    "/>
    <line class="st28" x1="12" y1="14.9" x2="12" y2="4.4"/>
    <g>
        <path class="st28" d="M8.1,8.8l3.6-4.5c0.2-0.2,0.5-0.2,0.7,0L16,8.8"/>
    </g>
</g>
</svg><span>Photo Upload&hellip;</span>
                </div>
                </label>
        </button>

     </div>




                               <div class="progress-bar">
            <div class="complete"></div>
            <div class="complete"></div>
            <div class="not-complete"></div>
            <div class="not-complete"></div>
        </div>




<input type="submit" name="submitButton" value="Next" class="button-bottom" />
}        </div>

    <script>
        var input = document.querySelector('#imageUpload');

        input.disabled = true;

        document.getElementById('file-1').addEventListener('change', function () {
        if (this.value.length > 0) {
            input.disabled = false;
        } else {
            input.disabled = true;
        }
        });

        </script>

    <script>

    function toggleImages() {
    var x = document.getElementById("imageDiv");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}    
        
    </script>
        

</div>

  