@model IncidentReportModel

<h2>Add Incident</h2>

@using (Html.BeginForm("AddIncident", "Incident", FormMethod.Post)){
  <label>Date</label>
    <br/>
    @Html.TextBoxFor(m => m.Date, new { placeholder = "", @class = "" });

      <label>Time</label>
    <br/>
    @Html.TextBoxFor(m => m.Date, new { placeholder = "", @class = "" });

     <label>Staff Involved</label>
    <br/>
   
 

    for (int i = 0; i < Model.StaffNames.Count; i++)
    {
<!--        @Html.Hidden("StaffNames.Index", i)
        @Html.TextBoxFor(m => Model.StaffNames[i])-->
        @Html.DropDownListFor(m => m.StaffNames, (IEnumerable<SelectListItem>)ViewBag.StaffList, new { id = "ddlStaff", @class = "form-control" })
        <br/>
    }


<input type="submit" name="submitButton" value="Add Staff" />
<input type="submit" name="submitButton" value="Next" />
}




