@model IncidentReportModel
<div class="page">
    <div class="heading">
        <div class="vertical_align">
            <a href="@Url.Action("Incidents", "Incident")">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g></svg>

            <span>back</span></a>
        </div>
       <h1 class="minus-margin-60">Add Incident</h1>        
 
    </div>
    <div class="content-margin-40">
        @using (Html.BeginForm("AddIncident", "Incident", FormMethod.Post))
        {
            <label>Date</label>
            @Html.ValidationMessageFor(model => model.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control html5-element", type = "date" })

            <label>Time</label>
            @Html.ValidationMessageFor(model => model.Time)
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control html5-element", type = "time" })

            <label>Staff Involved</label>
            @Html.ValidationMessageFor(model => model.StaffNames)



            for (int i = 0; i < Model.StaffNames.Count; i++)
            {
                @Html.DropDownListFor(m => m.StaffNames, (IEnumerable<SelectListItem>)ViewBag.StaffList, new { id = "ddlStaff", @class = "form-control" })
                <br />
            }


            <input type="submit" name="submitButton" value="Add Staff" class="fullwidth-ghost-btn margin-top-20" />




            <input type="submit" name="submitButton" value="Next" class="button-bottom" />
        }

    </div>
</div>