    @model IncidentReportModel

<div class="page">
    <div class="heading">
<h1>Add Incident</h1>
</div>

     <div class="content-margin-40">
@using (Html.BeginForm("AddIncident", "Incident", FormMethod.Post)){
  <label>Date</label>

    @Html.TextBoxFor(m => m.Date, new { placeholder = "", @class = "" });

      <label>Time</label>

    @Html.TextBoxFor(m => m.Date, new { placeholder = "", @class = "" });

     <label>Staff Involved</label>

   
 

    for (int i = 0; i < Model.StaffNames.Count; i++)
    {
<!--        @Html.Hidden("StaffNames.Index", i)
        @Html.TextBoxFor(m => Model.StaffNames[i])-->
        @Html.DropDownListFor(m => m.StaffNames, (IEnumerable<SelectListItem>)ViewBag.StaffList, new { id = "ddlStaff", @class = "form-control" })
        <br/>
    }


<input type="submit" name="submitButton" value="Add Staff" class="fullwidth-ghost-btn margin-top-20" />



        
<input type="submit" name="submitButton" value="Next" class="button-bottom" />
}


</div>
    </div>