<div class="page_white_BG">
    <div class="heading">

        <div class="vertical_align">

         <a href="javascript:void(0);" onclick="history.go(-1);">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />
                    </g>
                </svg>

                <span>Back</span>
            </a>

            </div>

@model IncidentReportModel

<h1 class="minus-margin-60">Incident Report</h1>
</div>

    <div class="content-margin">


        <div class="content-margin-40">

            <div class="padding-top-12">

                        <div class="details-left">
                    
    <img class="small-icon" src="../images/app_icons/calendar.svg"> 
         
 <span class="title">@Common.GetDayName((DateTime)Model.Date)</span>
            </div>


                        <div class="details-right">

                    
    <img class="small-icon" src="../images/app_icons/time.svg">    
            <span class="title">@Common.GetTimeString((DateTime)Model.Date)</span>

        </div>
                </div>

                 <p class="title">Injury</p>
    <p class="highlight-text">@Model.Injury, @Model.InjuryArea</p>

        <p class="title">Staff Involved</p>
 <ul>
@foreach(var staff in Model.StaffNames){
    <li>
    @staff
    </li>
}
</ul>

 @if(Model.PhotoUrl != null){
if(Model.PhotoUrl.Count > 0){                
    <p class="title">Evidence</p>

            <div class="row">
                @{
                int i = 1;
                foreach(var image in Model.PhotoUrl){
  <div class="column">
    <img src="@Url.Content(image)" onclick="openModal();currentSlide(@i)" class="hover-shadow cursor injury_report_img">
  </div>
                 i++;
                }
               }
                </div>


<!-- put here -->
      
            
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
                    
                     @foreach(var image in Model.PhotoUrl){
    <div class="mySlides">
                        

      <img src="@Url.Content(image)">
    </div> }

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>
</div>
            }
}
                    
<script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

    <p class="title margin-top-12">Incident Report</p>
    <p class="added-lineheight">@Model.Description</p>
   
       



        @if(ViewBag.IsForm){
        <div class="progress-bar-done">
            <div class="complete"></div>
            <div class="complete"></div>
            <div class="complete"></div>
            <div class="complete"></div>
        </div>

        <a href="@Url.Action("Incidents", "Incident")" class="button-bottom">Done</a>  
    }
     </div>
    </div>
 </div>
        