<div class="page">
    <div class="heading">

        <div class="vertical_align">

        <a href="@Url.Action("Incidents", "Incident")"><p class="return">&#10094 back</p></a>

            </div>

@model IncidentReportModel

<h1 class="minus-margin-60">Incident Report</h1>
</div>

    <div class="content-margin background_container">

                        <div class="details-left margin-top-12">
                    
    <img class="small-icon" src="../images/app_icons/calendar.svg"> 
         
 <span class="title">@Model.Date.ToString("d")</span>
            </div>


                        <div class="details-right margin-top-12">

                    
    <img class="small-icon" src="../images/app_icons/time.svg">    
            <span class="title">@Model.Date.ToString("t")</span>

        </div>

        <div class="containter_fullpage">

                 <p class="title">Injury</p>
    <p class="highlight-text">@Model.Injury</p>

        <p class="title">Staff Involved</p>
 <ul>
@foreach(var staff in Model.StaffNames){
    <li>
    @staff
    </li>
}
</ul>

    <p class="title">Evidence</p>

            <div class="row">
                @{
                int i = 1;
                foreach(var image in Model.PhotoUrl){
  <div class="column">
    <img src="@Url.Content(image)" style="width:100%" onclick="openModal();currentSlide(@i)" class="hover-shadow cursor">
  </div>
                 i++;
                }
               }
                </div>


<!-- put here -->

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
                    
                     @foreach(var image in Model.PhotoUrl){
    <div class="mySlides">
                        

      <img src="@Url.Content(image)" style="width:100%">
    </div> }

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>
</div>
                    
<script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>


            
        
   <!-- @foreach(var image in Model.PhotoUrl){
    <img class="injury_img" src="@Url.Content(image)"/>
}-->

    <p class="title margin-top-12">Incident Report</p>
    <p class="added-lineheight">@Model.Description</p>
    </div>
        
        </div>
    </div>
