<div class="page">

            @model IList<IncidentReportModel>
    <div class="heading">

          <div class="vertical_align">

        <a href="@Url.Action("Client", "Client")"><p class="return">&#10094 back</p></a>

            </div>

<h1 class="minus-margin-60">Incidents and Injuries</h1>
</div>


     <br/>
    <br/>
     <br/>
     <br/>
       <div class="margin-top-4 default-menu">

        @{
                string profileUrl = ViewBag.ProfileImage;
                <img src="@Url.Content(profileUrl)" style="width:50px">
                }
<p>@ViewBag.Name</p>
            
 
@foreach(var incident in Model){
<a href="@Url.Action("Incident", "Incident", new { incidentId = incident.IncidentId })">
@{
                string url = incident.PhotoUrl.FirstOrDefault();
                <img src="@Url.Content(url)" style="width:50px">
                }
                <div class="details-left">
                    
 <p class="highlight-text">@incident.Injury, @incident.InjuryArea</p>
         
                     
                       </div>

                <div class="details-right">  
                @{
                string date = KenoAssist.Web.Helper.Common.GetDayName(incident.Date);
                     <p>@date</p>
                 }
                    
                </div>
                
    <p class="margin-top-14 title">Incident</p>
    <p>@incident.Description</p>
</a>
}
                </div>

              <a href="@Url.Action("AddIncident", "Incident")" class="button-bottom">Add Report</a>
            </div>

   
