<div class="page">

            @model IList<IncidentModel>
    <div class="heading">

          <div class="vertical_align">

        <a href="@Url.Action("Client", "Client")"><p class="return">&#10094 back</p></a>

            </div>

<h1 class="minus-margin-60">Incidents and Injuries</h1>

            <div class="margin-top-4 default-menu">
@foreach(var incident in Model){
<a href="@Url.Action("Incident", "Incident", new { incidentId = incident.Id })">

                <div class="details-left">
                    
<p class="title margin-top-0 margin-bottom-4">Date</p>
         
                     
    <p>@incident.Date.ToString("d")</p>
                    
                    </div>

                <div class="details-right">

                    
    <p class="title margin-top-0 margin-bottom-4">Time</p>
            
                <p>@incident.Date.ToString("t")</p>
                </div>
                
    <p class="margin-top-14 title">Incident</p>
    <p>@incident.Description</p>
</a>
}
                </div>

              <a href="@Url.Action("AddIncident", "Incident")" class="button-bottom">Add Report</a>
            </div>

   
