@model IncidentReportModel

<div class="page_white_BG">
    <div class="heading">
        <div class="vertical_align">

        <a href="javascript:void(0);" onclick="history.go(-1);">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g>
                    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />
                </g>
            </svg>
            <span>Back</span>
        </a>
    </div>

<h1 class="minus-margin-60">Add Incident</h1>
</div>


     <div class="content-margin-40">
@using (Html.BeginForm("IncidentReport", "Incident", new { isForm = true}, FormMethod.Post)){

 @Html.HiddenFor(m => m.IncidentId)
 @Html.HiddenFor(m => m.Date)
 @Html.HiddenFor(m => m.Time)
 @Html.HiddenFor(m => m.Injury)
 @Html.HiddenFor(m => m.InjuryArea)

        if(Model.PhotoUrl != null){
            for(int i = 0; i < Model.PhotoUrl.Count; i++)
            {
                @Html.HiddenFor(model => Model.PhotoUrl[i])
            }
        }

for(int i = 0; i < Model.StaffNames.Count; i++)
{
    @Html.HiddenFor(model => Model.StaffNames[i])
}

  <label>Incident Report</label>

   <p class="explaining-form-field">Please enter as much detail as possible regarding how the incident happened.</p>
   @Html.ValidationMessageFor(model => model.Description)
  @Html.TextAreaFor(m => m.Description, new { placeholder = "Today whilst getting client ready...", @class = "incident-report" });

  <input type="submit" name="submitButton" value="Next"  class="button-bottom"/>
}

    </div>
    </div>