@model DrinkSelectionModel

<script>
function searchClick() {
        var searchString = document.getElementById('searchBox').value;
        location.href = '@Url.Action("SearchDrink", "FoodAndDrink")?searchString=' + searchString;
        return false;
}
</script>

<div class="page">
    <div class="heading">
        <div class="vertical_align">
            <a href="@Url.Action("Drink", "FoodAndDrink" )">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />
                    </g>
                </svg>

                <span>Back</span>
            </a>
        </div>
        <h1 class="minus-margin-60">Add Beverage</h1>
    </div>
    <div class="content-margin">
        @using (Html.BeginForm("AddDrinkVolume", "FoodAndDrink", FormMethod.Post))
        {

            <div class="search_bar">
            <input id="searchBox" placeholder="Search.." type="text" />
            <div>
            <button onclick="return searchClick()">           
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <circle class="st31" cx="14.2" cy="9.8" r="5.6"/>
    <line class="st31" x1="4.2" y1="19.8" x2="10.1" y2="13.9"/>
                    </g>
                </svg></button>
                </div>
            </div>
       <p class="primary_heading">@ViewBag.Title</p>
    
            foreach (var drink in Model.Drinks)
      
            {  
            <label>
            <div class="menu_option">
                <p>@drink.Name</p>
                @Html.RadioButtonFor(x => x.SelectedDrink, drink.Id, new { onclick = "this.form.submit();" })
             </div>
            </label>
        }
           

        }
        </div>
    </div>
