<div class="page">
    @model DrinkModel
    <div class="heading">
        <div class="vertical_align">
            <a href="javascript:void(0);" onclick="history.go(-1);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g>
                    </svg>

            <span>back</span>
            </a>
        </div>
        <h1 class="minus-margin-60">Add Beverage</h1>
    </div>
    @using (Html.BeginForm("AddedDrink", "FoodAndDrink", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)



    <div id="buttons" class="content-margin-40">
        <p>How much did @ViewBag.Name drink?</p>
        <input id="manualInput" type="number" onmouseout="AddValue(document.getElementById('manualInput').value)"/>
        <p>Quick Entry</p>

        <div class="quick_entry">
            
        <div id="button1" class="menu_option" onclick="AddValue(100)">
        <label>
        <img src="../images/app_icons/beverage_intake_100.svg"/>
        <p>100ml</p>
        @Html.RadioButtonFor(m => m.Volume, 100,new {onclick="AddValue(100)"}) 
        </label>
        </div>
            
        <div id="button2" class="menu_option" onclick="AddValue(250)">
        <label>
        <img src="../images/app_icons/beverage_intake_250.svg"/>
        <p>250ml</p>
        @Html.RadioButtonFor(m => m.Volume, 250,new {onclick="AddValue(250)"}) 
        </label>
        </div>
            
         <div id="button3" class="menu_option" onclick="AddValue(500)">
        <label>
        <img src="../images/app_icons/beverage_intake_500.svg"/>
        <p>500ml</p>
        @Html.RadioButtonFor(m => m.Volume, 500,new {onclick="AddValue(500)"})
        </label>
        </div>

      </div>
        
        @Html.TextBoxFor(m => m.Volume, new { id="valueInput",style="opacity:0" })
    </div>

    <input id="submitButton" class="button-bottom" type="submit" value="Submit"/>
    }
</div>
<script>
    function AddValue(value) {
  $("#valueInput").val(value); 
     $("#submitButton").removeAttr('disabled');

    if(value == "")
    {
     $("#submitButton").attr('disabled','disabled');
    }
}
</script>

@section scripts
{
<script>    
$(document).ready(function() {
   $("#button1").click(function() {
            $('input', $('#buttons')).not(this).each(function(){
                $(this).parent().closest('div').removeClass("checked");
            })
    
             $(this).addClass("checked");

            })
     $("#button2").click(function() {
            $('input', $('#buttons')).not(this).each(function(){
                $(this).parent().closest('div').removeClass("checked");
            })
    
            $(this).addClass("checked");

            })
     $("#button3").click(function() {
            $('input', $('#buttons')).not(this).each(function(){
                $(this).parent().closest('div').removeClass("checked");
            })
    
            $(this).addClass("checked");

            })
        });

</script>
}