<div class="page">
    @model DrinkModel
    <div class="heading">
        <div class="vertical_align">
            <a href="javascript:void(0);" onclick="history.go(-1);"><p class="return">&#10094 back</p></a>
        </div>
        <h1 class="minus-margin-60">Add Beverage</h1>
    </div>
    @using (Html.BeginForm("AddedDrink", "FoodAndDrink", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)



    <div class="content-margin" style="margin-bottom: 64px;">
        <p>How much did @ViewBag.Name drink?</p>
        <input id="manualInput" type="number" onmouseout="AddValue(document.getElementById('manualInput').value)"/>
        <p>Quick Entry</p>

        <p>100ml</p>
        @Html.RadioButtonFor(m => m.Volume, 100,new {onclick="AddValue(100)"}) 

        <p>250ml</p>
        @Html.RadioButtonFor(m => m.Volume, 250,new {onclick="AddValue(250)"}) 

        <p>500ml</p>
        @Html.RadioButtonFor(m => m.Volume, 500,new {onclick="AddValue(500)"})
        @Html.TextBoxFor(m => m.Volume, new { id="valueInput",style="opacity:0" })
    </div>

    <input class="button-bottom" type="submit" value="Submit"/>
    }
</div>
<script>
    function AddValue(value) {
  $("#valueInput").val(value); 
}
</script>