<div class="page">
    @model FoodModel
    <div class="heading">
        <div class="vertical_align">
            <a href="javascript:void(0);" onclick="history.go(-1);"><p class="return">&#10094 back</p></a>
        </div>
        <h1 class="minus-margin-60">Add Food</h1>
    </div>
    @using (Html.BeginForm("AddedFood", "FoodAndDrink", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.FoodTypeId)
    



    <div class="content-margin-40">
        <p>How much did @ViewBag.Name eat?</p>
        <input id="manualInput" type="number" onmouseout="AddValue(document.getElementById('manualInput').value)"/>
        <p>Quick Entry</p>

        <div class="quick_entry">
        
        <div>

                <img src="../images/app_icons/beverage_intake_100.svg"/>
        <p>50&#37;</p>
        @Html.RadioButtonFor(m => m.PercentageAmount, 50, new {onclick="AddValue(50)"}) 
        </div>

        <div>
                <img src="../images/app_icons/beverage_intake_250.svg"/>
        <p>75&#37;</p>
        @Html.RadioButtonFor(m => m.PercentageAmount, 75, new {onclick="AddValue(75)"}) 
        </div>

        <div>
                <img src="../images/app_icons/beverage_intake_500.svg"/>
        <p>100&#37;</p>
        @Html.RadioButtonFor(m => m.PercentageAmount, 100, new {onclick="AddValue(100)"})
                </div>
        </div>
        @Html.TextBoxFor(m => m.PercentageAmount, new { id="valueInput",style="opacity:0" })

        </div>

    <input class="button-bottom" type="submit" value="Submit"/>
    }
</div>
<script>
    function AddValue(value) {
  $("#valueInput").val(value); 
}
</script>