<div class="page">
    @model FoodModel
    <div class="heading">
        <div class="vertical_align">
            <a href="javascript:void(0);" onclick="history.go(-1);">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />
                    </g>
                </svg>

                <span>back</span>
            </a>
        </div>
        <h1 class="minus-margin-60">Add Food</h1>
    </div>
    @using (Html.BeginForm("AddedFood", "FoodAndDrink", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.FoodTypeId)
    



    <div id="buttons" class="content-margin-40">
        <p>How much did @ViewBag.Name eat?</p>
        <input id="manualInput" type="number" onmouseout="AddValue(document.getElementById('manualInput').value)"/>
        <p>Quick Entry</p>

        <div class="quick_entry">


           
        <div>
       <label>
                <img src="../images/app_icons/beverage_intake_100.svg"/>
        <p>50&#37;</p>
        @Html.RadioButtonFor(m => m.PercentageAmount, 50, new {id="button1",onclick="AddValue(50)"}) 
        </label>
        </div>
       
        <div>
        <label>
                <img src="../images/app_icons/beverage_intake_250.svg"/>
        <p>75&#37;</p>
        @Html.RadioButtonFor(m => m.PercentageAmount, 75, new {id="button2",onclick="AddValue(75)"}) 
        </label>
        </div>
            
        <div>
        <label>
                <img src="../images/app_icons/beverage_intake_500.svg"/>
        <p>100&#37;</p>
        @Html.RadioButtonFor(m => m.PercentageAmount, 100, new {id="button3",onclick="AddValue(100)"})
        </label>            
                </div>
        </div>

        
        @Html.TextBoxFor(m => m.PercentageAmount, new { id="valueInput",style="opacity:0" })

        </div>

    <input class="button-bottom" type="submit" value="Submit"/>
    }
</div>
<script>
    function AddValue(value) {
  $("#valueInput").val(value); 
}
</script>

@section scripts
{
<script>    
$(document).ready(function() {
   $("#button1").click(function() {
            $('input', $('#buttons')).not(this).each(function(){
                $(this).removeAttr("checked");
            })
    
             $(this).attr("checked","checked");

            })
        });

</script>
}