<div class="page">

            @model FoodIntakeDetailsModel
    <div class="heading">

          <div class="vertical_align">

        <a href="@Url.Action("Food", "FoodAndDrink")">               

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g>
                    </svg>

            <span>back</span>
            </a>
        </div>

<h1 class="minus-margin-60">Meal Selection</h1>
</div>
    @using (Html.BeginForm("AddedFoodIntake", "FoodAndDrink", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.HiddenFor(m => m.MealId)
    @Html.HiddenFor(m => m.Main.Id)
    @Html.HiddenFor(m => m.Main.Name)
    @Html.HiddenFor(m => m.Side.Id)
    @Html.HiddenFor(m => m.Side.Name)
    <div class="content-margin">
           <div class="date_header vertical-align">
                <p>@ViewBag.Date</p>
            </div>
        <div class="meal_header vertical-align">
            <p>@ViewBag.Meal</p>
        </div>
        

        <div class="content-margin-40 extra_margin_top">
            <p class="meal_heading">Mains</p>
            @Html.ValidationMessageFor(m => m.Main.PercentageAmount)
            <p>@Model.Main.Name</p>
            @Html.TextBoxFor(m => m.Main.PercentageAmount, new { @type = "number", placeholder = "e.g. 30"})

            <p class="meal_heading">Sides</p>
            @Html.ValidationMessageFor(m => m.Side.PercentageAmount)
            <p>@Model.Side.Name</p>
            @Html.TextBoxFor(m => m.Side.PercentageAmount, new { @type = "number", placeholder = "e.g. 30" })

            <p class="meal_heading">Summary</p>
            @Html.ValidationMessageFor(m => m.Summary)
            <p>@Model.Summary</p>
            @Html.TextAreaFor(m => m.Summary, new { placeholder = "e.g. Client ate very well, finished most of their meal..." })
            </div>
    </div>
    <input class="button-bottom" type="submit" value="Submit"/>
    }
</div>
