<div class="page">

@model FoodIntakeModel

    <div class="heading">    

     <div class="vertical_align">
        <a href="@Url.Action("Index", "FoodAndDrink")">                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
<g>
    <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6"/>
</g></svg>

            <span>back</span></a>
        </div>
        
<h1 class="minus-margin-60">Food Intake</h1>
</div>

            <div class="content-margin">
<a href="@Url.Action("AddIncident", "Incident")">&lt;</a><h3>Today</h3><a href="@Url.Action("AddIncident", "Incident")">&gt;</a>
    
<h4>Breakfast</h4>

@if (Model.Breakfast.Count > 0) {
    foreach (var food in Model.Breakfast) {
     <p>@food.Name</p>
    }
}
else {
<p>No Data </p>
}

<h4>Lunch</h4>

@if(Model.Lunch.Count > 0){
foreach(var food in Model.Lunch){
    <p>@food.Name</p>
}
}
else{
<p>No Data</p>
}


<h4>Dinner</h4>

@if(Model.Dinner.Count > 0){
foreach(var food in Model.Dinner){
    <p>@food.Name</p>
}
}
else{
<p>No Data</p>
}


<h4>Snacks</h4>

@if(Model.Snacks.Count > 0){
foreach(var food in Model.Snacks){
    <p>@food.Name</p>
}
}
else{
<p>No Data</p>
}

</div>

 <a class="button-bottom"href="@Url.Action("AddFood", "FoodAndDrink")">Add Food</a>

</div>