<div class="page">

@model FoodIntakeModel

    <div class="heading">    

     <div class="vertical_align">
        <a href="@Url.Action("Index", "FoodAndDrink")"><p class="return">&#10094 back</p></a>
      </div>

<h1 class="minus-margin-60">Food Intake</h1>
</div>

            <div class="content-margin">
<a href="@Url.Action("AddIncident", "Incident")">&lt;</a><h3>Today</h3><a href="@Url.Action("AddIncident", "Incident")">&gt;</a>
    
<h4>Breakfast</h4>

@if (Model.Breakfast.Count > 0) {
    foreach (var food in Model.Breakfast) {
     <p>@food.Name</p>
    }
}
else {
<p>No Data </p>
}

<h4>Lunch</h4>

@if(Model.Lunch.Count > 0){
foreach(var food in Model.Lunch){
    <p>@food.Name</p>
}
}
else{
<p>No Data</p>
}


<h4>Dinner</h4>

@if(Model.Dinner.Count > 0){
foreach(var food in Model.Dinner){
    <p>@food.Name</p>
}
}
else{
<p>No Data</p>
}


<h4>Snacks</h4>

@if(Model.Snacks.Count > 0){
foreach(var food in Model.Snacks){
    <p>@food.Name</p>
}
}
else{
<p>No Data</p>
}

</div>

 <a class="button-bottom"href="@Url.Action("AddFood", "FoodAndDrink")">Add Food</a>

</div>