@model MealSelectionModel
<div class="page">
    <div class="heading">
        <div class="vertical_align">
            <a href="@Url.Action("Menu", "FoodAndDrink")">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />
                    </g>
                </svg>

                <span>back</span>
            </a>
        </div>
        <h1 class="minus-margin-60">Meal Selection</h1>
    </div>


    using (Html.BeginForm("MealSelection", "FoodAndDrink", new { Date = ViewBag.Date, PageNo = (ViewBag.PageNo + 1) }, FormMethod.Post))
    {
        <div class="date_header vertical-align">
            <p>@ViewBag.Date</p>
        </div>

        <div class="meal_header vertical-align">
            <p>@ViewBag.PageTitle</p>
        </div>

        <p class="primary_heading">Mains</p>
        @{
        <div id="mains">
         int i = 1;

         foreach (var main in Model.Mains)
            {

            <label>
                <div class="menu_option">

                    @main.Name
                    @Html.RadioButtonFor(x => x.SelectedMain, main.Id, new { @class = "clickable", id = "mainCheckBox" + @i })
                   
                </div>
            </label>
            i++;
            }
       </div>
        }
        <p class="primary_heading">Sides</p>
        @foreach (var side in Model.Sides)
        {

            <label>
                <div class="menu_option">
                    @side.Name
                    @Html.RadioButtonFor(x => x.SelectedSide, side.Id)

                </div>
            </label>
        }

        <input type="submit" name="submitButton" value="Next" class="button-bottom" />
    }
</div>

@section scripts
{
<script>

@*function RadioSelected(){
    var radio = document.getElementById("myRadio");
  radio.setAttribute("class", "menu_selected");
}*@    
    
$('input:radio').each(function () {

        var $this = $(this),
            id = $this.attr('id'),
            url = $this.attr('datasrc');

        if ($(this).prop('checked')) {
            urls.push('<div class="' + id + '">' + url + '</div>');
        }

    });
    
$(document).ready(function() {
  <!--$(".clickable").click(function() {
    if(this.checked){
    $(this).parent('div').addClass("menu_selected");
    }
  });-->
    $.each( $('#mains'), function(i, left) {
   $('input', mains).each(function() {
         if ($(this).prop('checked')) {
        $(this).parent('div').addClass("menu_selected");
    }
    else{
     $(this).parent('div').removeClass("menu_selected");
    }
   });
})
});
</script>
}


