@model MealSelectionModel
<div class="page">
    <div class="heading">
        <div class="vertical_align">
            <a href="@Url.Action("Menu", "FoodAndDrink")">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />
                    </g>
                </svg>

                <span>Back</span>
            </a>
        </div>
        <h1 class="minus-margin-60">Meal Selection</h1>
    </div>
    <div class="client_info_bar">
        @{
                string profileUrl = ViewBag.ProfileImage;
                <img src="@Url.Content(profileUrl)">

                 <div>
                <p>@Html.Raw(ViewBag.AllergyInfo)</p> </div>

        } 
       
    </div>
    <div class="content-margin">
    <div class="margin-top-4 default-menu">
    @using (Html.BeginForm("MealSelection", "FoodAndDrink", new { Date = ViewBag.Date, PageNo = (ViewBag.PageNo + 1) }, FormMethod.Post))
    {
       <!-- <div class="date_header vertical-align">
            <p>@ViewBag.Date <span>on</span> @ViewBag.PageTitle</p>
        </div>-->

        <div class="meal_header date_header vertical-align">
            <p>@ViewBag.PageTitle <span>on</span> @ViewBag.Date</p>
        </div>

        <p class="primary_heading">Mains</p>
       <div id="mains">
        @{
     
         int i = 1;

         foreach (var main in Model.Mains)
            {

            <label>
                <div class="menu_option">
                    @main.Name
                    @Html.RadioButtonFor(x => x.SelectedMain, main.Id, new { @class = "clickable1"})
                   
                </div>
            </label>
            i++;
            }
     
        }
        </div>
        <p class="primary_heading">Sides</p>
    <div id="sides">
        @foreach (var side in Model.Sides)
        {

            <label>
                <div class="menu_option">
                    @side.Name
                    @Html.RadioButtonFor(x => x.SelectedSide, side.Id, new { @class = "clickable2" })

                </div>
            </label>
        }
        </div>
        <input type="submit" name="submitButton" value="Next" class="button-bottom" />
    }
    </div>
   </div>
</div>

@section scripts
{
<script>    
$(document).ready(function() {
   $(".clickable1").click(function() {
            $('input', $('#mains')).not(this).each(function(){
                $(this).removeAttr("checked");
            })
    
             $(this).attr("checked","checked");

            $('input', '#mains').each(function(){
                var isChecked = ($(this).attr("checked") == "checked");
                if(isChecked){
                    $(this).parent().addClass("menu_selected");
                }else{
                    $(this).parent().removeClass("menu_selected");
                }
              
            })
            })
        });

</script>
<script>    
$(document).ready(function() {
   $(".clickable2").click(function() {

            $('input', '#sides').not(this).each(function(){
                $(this).removeAttr("checked");
            })
    
             $(this).attr("checked","checked");

            $('input', '#sides').each(function(){
                var isChecked = ($(this).attr("checked") == "checked");
                if(isChecked){
                    $(this).parent().addClass("menu_selected");
                }else{
                    $(this).parent().removeClass("menu_selected");
                }
              
            })
            })
        });

</script>
}
