@model FoodIntakeModel
<div class="page">
    <div class="heading">
        <div class="vertical_align">
            <a href="@Url.Action("Index", "FoodAndDrink")">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <path class="st27" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />
                    </g>
                </svg>

                <span>back</span>
            </a>
        </div>
        <h1 class="minus-margin-60">Food Menu</h1>
    </div>


    <div class="date_header vertical-align">

        @if (ViewBag.DayCount > 0)
        {
            <a class="left_arrow" href="@Url.Action("Menu", "FoodAndDrink", new {addDays=(ViewBag.DayCount - 1)})">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                        <path class="st21" d="M15.6,18l-6.9-5.5c-0.3-0.3-0.3-0.8,0-1L15.6,6" />

                    </g>
                </svg>
            </a>
        }
        <p>@ViewBag.CurrentDay</p>
        <a class="right_arrow" href="@Url.Action("Menu", "FoodAndDrink", new {addDays=ViewBag.DayCount + 1})">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g>
                    <path class="st21" d="M8.4,6l6.9,5.5c0.3,0.3,0.3,0.8,0,1L8.4,18" />
                </g>
            </svg>
        </a>

    </div>


    @if (ViewBag.IsSubmitted)
    {
    <div class="warning_container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g>
                <path class="st21" d="M2.8,18.5l8.3-14.9c0.4-0.7,1.4-0.7,1.8,0l8.3,14.9c0.4,0.7-0.1,1.5-0.9,1.5H3.7C2.9,20,2.5,19.2,2.8,18.5z" />
                <line class="st21" x1="12" y1="8" x2="12" y2="14" />
            </g>
            <circle class="st26" cx="12" cy="17" r="1" />
        </svg>
        <span>Menu choices have been submitted to the kitchen, no changes can be made.</span>
    </div>
    }


    <div class="meal_container">

    
    <p class="meal_heading">Breakfast</p>
    @if (Model.Breakfast != null)
    {
        foreach (var food in Model.Breakfast)
        {
            <p>@food.Name</p>
        }
    }
    else
    {
        <p>No meal selected</p>
    }
    <p class="meal_heading">Lunch</p>
    @if (Model.Lunch != null)
    {
        foreach (var food in Model.Lunch)
        {
            <p>@food.Name</p>
        }
    }
    else
    {
        <p>No meal selected</p>
    }

    <p class="meal_heading">Dinner</p>
    @if (Model.Dinner != null)
    {
        foreach (var food in Model.Dinner)
        {
            <p>@food.Name</p>
        }
    }
    else
    {
        <p>No meal selected</p>
    }

    </div>
    @if (ViewBag.IsSubmitted)
    {
        <button class="button-bottom" disabled="disabled">Meal Selection</button>
    }
    else
    {
        <button class="button-bottom" onclick="location.href='@Url.Action("MealSelection", "FoodAndDrink", new {Date = ViewBag.CurrentDay, PageNo = 1 })';return false;">Meal Selection</button>
    }
        </div>
</div>
